@font-face {
    font-family: "Panthera";
    src: url(../police/Panthera_Regular.ttf) format("TrueType");
}

@font-face {
    font-family: "Beyno";
    src: url(../police/BEYNO.otf) format("TrueType");
}

@font-face {
    font-family: "Wakanda forever";
    src: url(../police/Wakanda_Forever_Regular.ttf) format("TrueType");
}

@font-face {
    font-family: "Cantarell";
    src: url(../police/Cantarell_Regular.ttf) format("TrueType");
}

:root {
    --color_black: #000000;
    --color_violet: #df99f28f;
    --color_white: #ffffffe5;
    --color_white_2: #ffffffbb;
    --color_gray: #9E91B7;
    --color_pink: #f2cef233;
    --clear_color_bleu: #3D2DA6;
    --color_bleu: #07338C;
    --deep-color_bleu: #021740be;
    --deep-color_bleu_2: #02174065;
}
                        /*--------------------Desing Général------------------------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color_white);
    font-family: "Cantarell", sans-serif;
    font-size: 1rem;
    background-image: url(../img/All_pages/arrière_plan.png);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

@keyframes textmove {
    from {right: 300px;}
    to {right: 0px;}
}

p, h1, h2, h3, h4, h6, h5 {
    position: relative;
    animation-name: textmove;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
                        /*--------------------Desing Header------------------------------------ */
nav {
    padding: 3rem 2rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    height: 1rem;
}

.logo img {
    height: 1.5rem;
}

.logo .cross {
    height: 33%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.lien_nav {
    font-family: "Beyno";
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.lien_active {
    color: var(--color_violet);
    text-decoration: underline;
}

.lien_nav a:hover {
    text-decoration: underline;
    color: var(--color_bleu);
}

.image:hover {
    filter: brightness(0) 
     saturate(100%) 
     invert(75%) 
     sepia(61%) 
     saturate(1896%) 
     hue-rotate(212deg) 
     brightness(100%) 
     contrast(90%);
}

.alligne{
    position: fixed;
    top: 0;
    height: 50vh;
    left: 0.5rem;
    border-left: 3px solid var(--color_violet);
    display: flex;
    flex-direction: column;
    z-index: 10;
  }

.alligne_line {
    height: 100%;
    border-right: 3px solid var(--color_violet);
  }

.alligne_socials {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0 0 0.2rem;
    margin-right: -0.5rem;
}

.alligne_socials a:hover {
  filter: brightness(0)
   saturate(100%)
   invert(100%)
   sepia(89%)
   saturate(0%) 
   hue-rotate(235deg) 
   brightness(104%) 
   contrast(101%);
}
                    /*------------------------------- Desing Black Panther--------------------------------- */
#Black_Panther{
    height: 103vh;
    width: auto;
    padding: 0 4%;
    background-image: url("../img/Accueil/Pantherhome1..png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 33vw 3vw;
    margin-bottom: 10vw;
}

.Black {
    width: 48%;
    padding-top: 8%;
    margin-left: 2%;
}

#Black_Panther h1{
    font-size: 4vw !important;
    margin-bottom: 10px;
    font-family: "Panthera";
    color: var(--color_gray);
}

#Black_Panther h2{
    font-family: "Beyno";
    color: var(--color_gray);
    font-size: 22px;
}

#Black_Panther p {
    width: 80%;
    margin: 3vh 0;
}

#Black_Panther a{
    text-decoration: underline;
}
                    /*------------------------------- Desing section Acteurs--------------------------------- */
#Acteurs{
    height: 40vh;
    padding-left: 5vw;
}

#Acteurs img {
    width: 100%;
    height: 100%;
}

.acteur_card{
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    height: 100%;
    position: relative;
    background-color: var(--deep-color_bleu);
}

.button{
    padding-top: 0.4%;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    top: 45%;
    right: 5%;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background: var(--deep-color_bleu);
}

.acte{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    width: 50vw;
    height: 100%;
}

.acte_text{
    padding: 8% 12%;
}

.zomme{
    bottom: 10%;
    position: relative;
    height: 120% !important;
}

.acte h2{
    padding-bottom: 10px;
    font-family: "Beyno";
    color: var(--color_gray);
}

.acte p{
    font-size: 12px;
    text-align: justify;
}

.acte a{
    font-size: 12px;
    text-align: justify;
    text-decoration: underline;
}
/*------------------------------- Desing section Prince--------------------------------- */

#Prince {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 13%;
}

.text_prince {
    width: 45%;
}

.text_prince h2 {
    padding-top: 5%;
    font-family: "Beyno";
    font-size: 22px;
    color: var(--color_gray);
}

.text_prince p {
    padding-top: 5%;
    text-align: justify;
}

.style {
    font-size: .875rem;
}

.description {
    width: 55%;
    text-align: center;
}

.photo_prince{
    padding: 0% 25%;
}

.photo_prince img {
    width: 100%;
}

.description_text {
    background-color: var(--color_white_2);
    border-radius: 0.8rem;
    margin: -37% 20% 70% 20%;
    padding-top: 40%;
}

.description_text h3 {
    font-family: "Cantarell";
    font-size: 26px;
    color: var(--color_black);
    text-align: center;
}

.description_text button {
    background-color: var(--color_bleu);
    font-size: 0.7rem;
    padding: 1%;
    border: none;
    border-radius: 0.5rem;
    color: var(--color_white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Cantarell";
    font-size: 16px;
}

.description_text h4{
    color: var(--color_black);
    font-size: 0.9rem;
    text-align: left;
    padding-top: 0.5rem;
}

.description_text .ligne h4 span{
    font-size: medium;
}

.ligne {
    display: flex;
    flex-direction: column;
    padding: 7%;
}

.button_fiche {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 4%;
}

#panther {
    margin-bottom: 60%;
    position: relative;
}

#panther img {
    width: auto;
    height: 100%;
}
                    /*------------------------------- Desing section Formulaire--------------------------------- */
#Form {
    background-image: url(../img/Accueil/Pantherhome7.png);
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.background_form {
    margin-top: 10%;
    padding: 3% 0% 3% 0%;
    width: 60%;
    text-align: center;
    background-image: linear-gradient(180deg, 
        var(--color_white), 
        var(--color_pink));
    border-radius: 10rem;
    margin-bottom: 5%;
}

.background_form p {
    color: var(--deep-color_bleu);
    padding-bottom: 0.5rem;
}

.background_form h1 {
    font-family: "Cantarell";
    color: var(--deep-color_bleu);
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
}

.background_form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background_form input {
    width: 520px;
    height: 56px;
    background: transparent;
    border-radius: 38px;
    padding-left: 1rem;
    margin-top: 2rem;
    border: solid 1px var(--deep-color_bleu);
}

.background_form textarea {
    height: 200px;
    width: 520px;
    background: none;
    border-radius: 38px;
    padding-left: 1rem;
    margin-top: 2rem;
    padding-top: 1.5rem;
    border: solid 1px var(--deep-color_bleu);
}

.background_form button {
    width: 174px;
    height: 54px;
    border-radius: 38px;
    background-color: var(--color_white);
    margin-top: 30px;
    z-index: 10;
}

#Form form button {
  background-color: #df99f2;
  border: none;
  height: 44px;
  width: 154px;
  border-radius: 38px;
  cursor: pointer;
  font-family: sans-serif;
  z-index: 9;
}
#Form form button:hover {
  box-shadow: 0 0 20px #021740;
}

/*------------------------------- Desing Footer--------------------------------- */
footer{
    height: 80vh;
    background-image: url("../img/All_pages/back_footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer_img{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer_img .foot{
    position: absolute;
    padding-top: 11.5%; 
    left: 17%;
    width: 11vw;
    z-index: 3;
}

.footer_img .image{
    z-index: 2;
}

.footer_img img:hover{
    transform: scale(1.1);
}

footer .container{
    width: 60%;
}

footer .table{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.table ul li span{
    text-transform: uppercase;
}

.table a:hover {
    text-decoration: underline;
}

.table h5 {
    top: 10%;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 1.5vw;
}

.table .social{
    margin-top: 20px;
    justify-content: space-between;
    word-spacing: 24px;
}

.social .icon img:hover {
  filter: grayscale(100%) 
          hue-rotate(200deg);
}

.row_2 {
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 4vw;
}

.row_2 a {
    font-size: 14px;
    text-align: center;
}

.row_2 ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4vw;
    list-style-position: inside;
}

.row_2 a {
    font-size: 14px;
    text-align: center;
}

.row_2 ul {
      width: 100%;
}

.row_2 li {
    list-style-type: disc;
}

.row_2 .list1 {
    list-style-type: none;
}
/* ----------------------------------------- Responsive Footer ---------------------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
    footer {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  
    .footer_img {
      width: 100%;
      height: 50vh;
      padding-top: 5%;
    }

    .footer_img img {
      max-width: 80%;
      max-height: 100%;
    }

    .footer_img .foot {
        position: absolute;
        width: 20vw;
        right: 40%;
        max-height: 100%;
        padding-top: 16.5%; 
        left: 40%;
        z-index: 3;
    }
  
    footer .container, 
    footer .table, 
    footer .row_2, 
    footer ul {
      width: 100%;
      margin-top: 10px;
      padding-left: 5%;
    }
    footer .table {
      flex-direction: column;
    }
    footer .table .social {
      margin-top: 20px;
    }
    footer .row_2 {
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
  }
  @media (min-width: 769px) and (max-width: 1025px) {
    .row_2 {
      align-items: center;
      flex-direction: column;
    }
    .row_2 p {
      text-align: center;
    }
}

/* ----------------------------------------- Realiser par Nal'aina---------------------------------------*/

/* -----------------------------------------Realiser 
                                                    par 
                                                      Nal'aina-----------------------------------------------*/